# NodeJS
node_modules/*
package-lock.json

node-red-run/*

# VSCode settings
.vscode/*

# Mac
.DS_Store
apps/GroveNFC\ Tag/GroveNFC\ Tag.xcodeproj/project.xcworkspace
apps/GroveNFC\ Tag/GroveNFC\ Tag.xcodeproj/xcuserdata/*
